[user]
	name = Greg Levine
	email = levine.greg@gmail.com
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	autocrlf = input
	whitespace = -blank-at-eof,tab-in-indent
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[init]
	defaultBranch = main
[web]
	browser = google-chrome
[credential]
	helper = osxkeychain
[push]
	default = simple
[merge]
	tool = vscode
[difftool]
	prompt = false
[alias]
	amend = commit --amend
	b = branch
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	d = diff
	dc = diff --cached
	l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
	r = remote -v
	ra = remote add
	rb = rebase -i
	st = status
	sub = submodule update --init
	unstage = reset --soft HEAD^
[pull]
	rebase = false
[diff]
	tool = vscode
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[help]
	autocorrect = 1
[mergetool]
	keepBackup = false
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "vscode"]
	cmd = code --wait $MERGED
[url "git@github.com:"]
	insteadOf = https://github.com/
